.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.tile {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 11px;
  text-align: left;
}
